.focused{
	outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%) !important;
}

.errorlist li{
	color: red;
}
/* custom.css */

.bg-image {
    background-image: url('/path/to/your/image.png'); /* Replace with your image path */
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.content {
    position: relative;
    z-index: 1;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}
