{% extends 'base.html' %}

{% block content %}
<main class="container my-4">
    <!-- Page Title -->
    <h3 class="my-4 border-bottom pb-1">My Reviews</h3>

    <div class="row">
        <!-- Sidebar or any additional content can go here -->
        <div class="col-md-3">
            <!-- Example of including a sidebar if needed -->
            {% include 'user/user-sidebar.html' %}
        </div>
        <div class="col-md-9">
            <!-- Reviews List -->
            <ul class="list-group mt-3">
                {% for review in reviews %}
                    <li class="list-group-item">
                        <a href="{% url 'review_detail' review.pk %}">{{ review.product.title }}</a> - {{ review.review_rating }} stars
                        <p>{{ review.review_text|slice:":200" }}{% if review.review_text|length > 200 %}...{% endif %}</p>
                    </li>
                {% empty %}
                    <li class="list-group-item">No reviews found.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>
{% endblock %}
